.div {
    text-align: center;
  }
  
  .screen {
    background-color: #ccc;
    padding: 10px;
    font-weight: bold;
    margin-bottom: 20px;
    border-radius: 5px;
  }
  
  .seatinggrid {
    display: grid;
    grid-template-columns: repeat(20, 1fr); /* 20 columns */
    gap: 10px;
    justify-content: center;
    margin-bottom: 30px;
  }
  
  .frontrow {
    display: grid;
    grid-template-columns: repeat(20, 1fr); /* 20 columns */
    gap: 10px;
    justify-content: center;
    margin-top: 30px;
  }
  
  .row {
    display: flex;
    justify-content: center;
  }
  
  .seat {
    width: 25px;
    height: 25px;
    border: 1px solid #002b5c;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .seatselected {
    background-color: #007bff; /* Blue for selected seats */
  }
  
  .seatoccupied {
    background-color: #d9534f; /* Red for occupied seats */
    cursor: not-allowed;
  }
  
  .legend {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .legend div {
    display: inline-block;
    width: 25px;
    height: 25px;
    border: 1px solid #000;
    margin-right: 10px;
  }
  
  .confirmbutton {
    background-color: #002b5c;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .confirmbutton:hover {
    background-color: #0056a6;
  }
  